/* header */

/* carousel */
.carousel-item {
	height: 645px;
	margin-top: -50px;
	opacity: 0.9;
}
.tiga {
	opacity: 0.8;
}
.carousel-caption {
	height: 322px;
	line-height: 40px;
	letter-spacing: 4px;

}
.carousel {
	margin-bottom: 45px;
}

/*card*/
.card{

}
.carousel-caption h2 {
	font-weight: normal;
}

.tengah {

}

.card-text {
	font-style: italic;
}

/*jumbotron*/
.lead {
	font-style: italic;
}
.jumbotron .jumbotron-fluid {
	bottom: 0;
}